<div *ngxPermissionsOnly="['consult.customer-universe']">
  <div class="row border-bottom bd-lightGray m-3" style="margin-top:52px !important;">
    <div class="cell-md-4 d-flex flex-align-center">
      <h3 class="dashboard-section-title  text-center text-left-md w-100">Mon univers clients</h3>
    </div>

    <div class="cell-md-8 d-flex flex-justify-center flex-justify-end-md flex-align-center">
      <ul class="breadcrumbs bg-transparent">
        <li class="page-item"><a (click)="init()" class="page-link">Actualiser <span class="icon"><span class="mif-refresh"></span></span></a></li>
      </ul>
    </div>
  </div>

  <div class="m-3"
       infinite-scroll
       [infiniteScrollDistance]="scrollDistance"
       [infiniteScrollUpDistance]="scrollUpDistance"
       [infiniteScrollThrottle]="throttle"
       (scrolled)="onScrollDown($event)"
       (scrolledUp)="onUp($event)"
       [infiniteScrollContainer]="'.main-panel'"
       [alwaysCallback]="true">
    <div class="row mt-2">
      <div class="cell-3">
        <m4-input [(ngModel)]="search"
                  placeholder="Client"
                  (ngModelChange)="vide()"
                  [ngModelOptions]="{standalone: true}"
                  [search-button]="true" (search-button-click)="rechercher()"></m4-input>
      </div>
      <div class="cell-4" *ngIf="state">
        Chargement des données ...
        <div data-role="progress" data-cls-back="bg-noir" data-type="line" data-small="true"></div>
      </div>
    </div>

    <div class="row mt-2 main-panel" style="max-height: 500px; overflow-y: scroll">
      <table class="table cell-border compact table-border"
      >
        <thead>
        <tr>
          <th data-sortable="true" data-sort-dir="asc" data-name="facture">#</th>
          <th data-sortable="true">Nom</th>
          <th data-sortable="true" data-name="client">Réseau</th>
          <th data-sortable="true">Vendeur</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of customers;trackBy:trackByIndex |filter:{ bvs_id: search, name: search, username: search, sale_network: search } : false" [ngClass]="{'dark':i.check==true}">
          <td>{{i.bvs_id}}</td>
          <td>{{i.name}}</td>
          <td>{{i.sale_network}}</td>
          <td>{{i.username}}</td>
          <td>
            <button class="button mini bg-noir fg-white" routerLink="/s/detail-client/{{i.id}}">Details</button>
            <button class="button mini bg-noir fg-white" *ngxPermissionsOnly="['can.notify']">Notifier</button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="cell-2">
      <small>{{customers.length}} sur {{max_length}} Clients</small>
    </div>


  </div>

</div>
