<div *ngxPermissionsOnly="['consult.user']">
  <div class="row border-bottom bd-lightGray m-3" style="margin-top:52px !important;">
    <div class="cell-md-4 d-flex flex-align-center">
      <h3 class="dashboard-section-title  text-center text-left-md w-100">Utilisateurs</h3>
    </div>

    <div class="cell-md-8 d-flex flex-justify-center flex-justify-end-md flex-align-center">
      <ul class="breadcrumbs bg-transparent">
        <li class="page-item"><a (click)="getUsers()" class="page-link">Actualiser <span class="icon"><span class="mif-refresh"></span></span></a></li>
      </ul>
    </div>
  </div>

  <div class="m-3">
    <div class="row">
      <div class="cell-3">
        <input type="text" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" placeholder="Recherche">
      </div>

      <button *ngxPermissionsOnly="['add.user']" class="button ml-auto mr-2" (click)="newUser()">Ajouter</button>
    </div>

    <div class="row mt-2">
      <table class="table cell-border compact table-border"
      >
        <thead>
        <tr>
          <th data-sortable="true" data-sort-dir="asc" data-name="facture">#</th>
          <th data-sortable="true">Identifiant</th>
          <th data-sortable="true" data-name="client">Nom</th>
          <th data-sortable="true" data-name="client">Rôles</th>
          <th data-sortable="true" data-name="client">Statut</th>
          <th data-sortable="true">Statut mot de passe</th>
          <th *ngxPermissionsOnly="['reset.password']">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of users | filter:{ id: search, username: search, name: search} : false" [ngClass]="{'dark':i.check==true}">
          <td>{{i.id}}</td>
          <td>{{i.username}}</td>
          <td>{{i.name}}</td>
          <td>
            <span *ngFor="let r of i.roles">{{r.display_name}}, </span>
          </td>
          <td>{{i.status |status}}</td>
          <td>{{i.pass}}</td>
          <td *ngIf="i.username != 'root'">
            <button class="button mini" *ngxPermissionsOnly="['edit.user']" (click)="editUser(i)"><span class="mif-pencil"></span></button>
            <button class="button mini" *ngxPermissionsOnly="['delete.user']" (click)="deleteUser(i)"><span class="mif-bin"></span></button>
          </td>
          <td *ngIf="i.username == 'root'"></td>
        </tr>

        </tbody>
      </table>
    </div>

  </div>

  <div class="dialog" data-role="dialog" id="userDialog1">
    <div class="dialog-title">
      Details compte utilisateur
    </div>
    <div class="dialog-content" >
      <table class="table cell-border compact table-border"
      >
        <thead>
        <tr>
          <th data-sortable="true">Identifiant</th>
          <th data-sortable="true" data-name="client">Nom</th>
          <th data-sortable="true" data-name="client">Rôles</th>
          <th data-sortable="true" data-name="client">Statut</th>
          <th data-sortable="true">Statut mot de passe</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{user.username}}</td>
          <td>{{user.name}}</td>
          <td>
            <span *ngFor="let r of user.roles">{{r.display_name}},</span>
          </td>
          <td>{{user.status |status}}</td>
          <td>{{user.pass}}</td>
        </tr>

        </tbody>
      </table>
      <div class="form-group" *ngxPermissionsOnly="['edit.role']">
        <h5>Rôles</h5>
        <div style="max-height: 150px; overflow-y: scroll">
          <table class="table cell-border compact table-border"
          >
            <thead>
            <tr>
              <th data-sortable="true">Nom</th>
              <th data-sortable="true" data-name="client">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of roles">
              <td>{{item.display_name}}</td>
              <td>
                <button class="button mini bg-noir fg-white" (click)="setRole(item)" *ngIf="!item.check">Ajouter</button>
                <button class="button mini" (click)="setRole(item)" *ngIf="item.check">Supprimer</button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="form-group" *ngxPermissionsOnly="['active.account']">
        <m4-switch [(ngModel)]="user.compte_statut" caption="Statut du compte" caption-position="left"></m4-switch>
      </div>
      <div class="form-group" *ngxPermissionsOnly="['reset.password']">
        <m4-switch [(ngModel)]="user.reset_password" caption="Reinitialiser le mot de passe" caption-position="left"></m4-switch>
      </div>
    </div>

    <div class="dialog-actions text-right">
      <button class="button js-dialog-close bg-or fg-white" *ngxPermissionsOnly="['manage.admin']" (click)="updateUser()">Enregistrer</button>
      <button class="button primary js-dialog-close bg-noir">Fermer</button>
    </div>
  </div>

  <div class="dialog" data-role="dialog" id="newUserDialog1">
    <div class="dialog-title">
      Nouvel utilisateur
    </div>
    <div class="dialog-content" >
      <div class="form-group">
        <label>Nom d'utilisateur</label>
        <input type="text" [(ngModel)]="new.username" placeholder="Nom d'utilisateur"/>
      </div>
      <div class="form-group">
        <label>Nom</label>
        <input type="text" [(ngModel)]="new.name" placeholder="Nom(s) et prénom(s)"/>
      </div>
      <div class="form-group">
        <label>Statut</label>
        <select [(ngModel)]="new.status">
          <option value="enable">Activé</option>
          <option value="disable">Désactivé</option>
        </select>
        <small class="text-muted">Mot de passe par défaut : password</small>
      </div>
    </div>

    <div class="dialog-actions text-right">
      <button class="button bg-or fg-white js-dialog-close" *ngxPermissionsOnly="['manage.admin']" (click)="saveUser()">Enregistrer</button>
      <button class="button primary js-dialog-close bg-noir">Fermer</button>
    </div>
  </div>

</div>
