<div class="m4-cloaks h-vh-100">
  <div data-role="navview" data-toggle="#paneToggle" data-expand="xl" data-compact="lg" data-active-state="true">
    <div class="navview-pane">
      <div class="bg-noir d-flex flex-align-center">
        <button class="pull-button m-0 bg-noir-hover">
          <span class="mif-menu fg-white"></span>
        </button>
        <h2 class="text-light m-0 fg-or pl-7" style="line-height: 52px">Recouvrement</h2>
      </div>

      <ul class="navview-menu mt-4" id="side-menu" *ngxPermissionsOnly="['comrec.permission']">
        <li class="item-header">MENU</li>
        <li *ngxPermissionsOnly="['consult.dashboard']">
          <a routerLink="/s/dashboard">
            <span class="icon"><span class="mif-meter"></span></span>
            <span class="caption">Dashboard</span>
          </a>
        </li>
        <li *ngxPermissionsOnly="['consult.receipt']">
          <a routerLink="/s/r">
            <span class="icon"><span class="mif-money"></span></span>
            <span class="caption">Encaissements</span>
          </a>
        </li>
        <li *ngxPermissionsOnly="['consult.customer-universe']">
          <a routerLink="/s/univers-client">
            <span class="icon"><span class="mif-users"></span></span>
            <span class="caption">Univers clients</span>
          </a>
        </li>
        <li *ngxPermissionsOnly="['consult.billsss']">
          <a routerLink="/s/facture">
            <span class="icon"><span class="mif-file-pdf"></span></span>
            <span class="caption">Factures</span>
          </a>
        </li>
        <li *ngxPermissionsOnly="['consult.receiptsss']">
          <a routerLink="/s/encaissement">
            <span class="icon"><span class="mif-money"></span></span>
            <span class="caption">Encaissements</span>
          </a>
        </li>

        <div *ngxPermissionsOnly="['manage.admin']">
          <li class="item-header">Administration</li>

          <li *ngxPermissionsOnly="['consult.customer']">
            <a routerLink="/admin/c">
              <span class="icon"><span class="mif-users"></span></span>
              <span class="caption">Clients</span>
            </a>
          </li>
          <li *ngxPermissionsOnly="['consult.bill']">
            <a href="/admin/f/0">
              <span class="icon"><span class="mif-file-pdf"></span></span>
              <span class="caption">Factures</span>
            </a>
          </li>
          <li *ngxPermissionsOnly="['consult.user']">
            <a routerLink="/admin/u">
              <span class="icon"><span class="mif-user"></span></span>
              <span class="caption">Utilisateurs</span>
            </a>
          </li>
          <li *ngxPermissionsOnly="['consult.role']">
            <a routerLink="/admin/r">
              <span class="icon"><span class="mif-lock"></span></span>
              <span class="caption">Rôles</span>
            </a>
          </li>
        </div>
      </ul>

      <div class="w-100 text-center text-small data-box p-2 border-top bg-noir bd-grayMouse" style="position: absolute; bottom: 0">
        <div><span class="fg-or">&copy; 2020 </span><a href="mailto:info@bvssas.com" class="text-muted fg-white-hover no-decor">BVS Distribution Cameroun S.A.S</a></div>
      </div>
    </div>

    <div class="navview-content h-100">
      <div data-role="appbar" class="pos-absolute bg-noir fg-white">
        <a  class="app-bar-item d-block d-none-lg" id="paneToggle"><span class="mif-menu"></span></a>
        <div class="app-bar-container ml-auto">
          <div class="app-bar-container">
            <a href="#" class="app-bar-item">
              <span class="ml-2 app-bar-name">{{user.name}}</span>
            </a>
            <div class="user-block shadow-1" data-role="collapse" data-collapsed="true">
              <div class="bg-or fg-white p-2 text-center">
                <div class="h4 mb-0">{{user.name}}</div>
                <div class="text-upper">{{user.username}}</div>
              </div>
              <div class="bg-white d-flex flex-justify-between flex-equal-items p-2 bg-gris">
                <button class="button ml-1 bg-noir fg-or" (click)="logout()">Déconnexion</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="content-wrapper" class="content-inner h-100" style="overflow-y: auto"  *ngxPermissionsOnly="['comrec.permission']">
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</div>
