<div class="row border-bottom bd-lightGray m-3" style="margin-top:52px !important;">
  <div class="cell-md-4 d-flex flex-align-center">
    <h3 class="dashboard-section-title  text-center text-left-md w-100">Univers clients</h3>
  </div>

  <div class="cell-md-8 d-flex flex-justify-center flex-justify-end-md flex-align-center">
    <ul class="breadcrumbs bg-transparent">
      <li class="page-item"><a (click)="getCustomers()" class="page-link">Actualiser <span class="icon"><span class="mif-refresh"></span></span></a></li>
    </ul>
  </div>
</div>

<div class="m-3">
  <div class="row mt-2">
    <div class="cell-3">
      <input type="text" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" placeholder="Recherche">
    </div>
  </div>

  <div class="row mt-2">
    <table class="table cell-border compact table-border"
    >
      <thead>
      <tr>
        <th data-sortable="true" data-sort-dir="asc" data-name="facture">#</th>
        <th data-sortable="true">Nom</th>
        <th data-sortable="true" data-name="client">Réseau</th>
        <th data-sortable="true">Vendeur</th>
        <th data-sortable="true">Statut</th>
        <th>Selectionner</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of customers |filter:{ id: search, name: search, username: search, status: search, sale_network: search } : false" [ngClass]="{'dark':i.check==true}">
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.sale_network}}</td>
        <td>{{i.username}}</td>
        <td>{{i.status}}</td>
        <td *ngxPermissionsOnly="['link.customer']">
          <button class="button mini" (click)="oepnLink(i)" *ngIf="!i.check">Lier</button>
          <button class="button mini" (click)="unLink(i)" *ngIf="i.check">Délier</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>


</div>
<div class="dialog" data-role="dialog" id="linkDialog1">
  <div class="dialog-title">Lier un client à un vendeur</div>
  <div class="dialog-content" >
    Choix du vendeur {{user_id}}
    <div class="form-group">
      <select [(ngModel)]="user_id">
        <option *ngFor="let i of users" value="{{i.id}}">{{i.id}}-{{i.name}}</option>
      </select>
    </div>
  </div>

  <div class="dialog-actions text-right">
    <button class="button js-dialog-close bg-or fg-white" (click)="link()">Valider</button>
    <button class="button primary js-dialog-close bg-noir">Fermer</button>
  </div>
</div>
