<div class="h-vh-100 d-flex flex-justify-center flex-align-center">

  <div class="login-box">
    <form class="bg-white p-4"
          action="javascript:"
          data-role="validator"
          data-clear-invalid="2000"
    ><!--data-on-error-form="invalidForm"-->
      <img src="../../assets/images/BVS.png" class="place-right mt-4-minus mr-6-minus" style="width: 30%">
      <h1 class="mb-0">Mot de passe oublié</h1>

      <div class="form-group">
        <input type="text" [(ngModel)]="username" name="username" data-role="input" placeholder="Identifiant" data-append="<span class='mif-user'>" data-validate="required">
        <span class="invalid_feedback">Identifiant absent</span>
      </div>
      <div class="form-group d-flex flex-align-center flex-justify-between">
        <button class="button bg-or fg-white" (click)="askReset()">Valider</button>
      </div>

      <div class="form-group border-top bd-default pt-2">
        <a href="/login" class="d-block fg-black">Retour</a>
      </div>
    </form>
  </div>
</div>
