<div *ngxPermissionsOnly="['consult.customer-universe']">
  <div class="row border-bottom bd-lightGray m-3" style="margin-top:52px !important;">
    <div class="cell-md-6 d-flex flex-align-center">
      <h3 class="dashboard-section-title  text-center text-left-md w-100">#{{customer.bvs_id}} {{customer.name}}</h3>
    </div>

    <div class="cell-md-6 d-flex flex-justify-center flex-justify-end-md flex-align-center">
      <ul class="breadcrumbs bg-transparent hide">
        <li class="page-item"><a (click)="getCustomer(customer.id)" class="page-link">Actualiser <span class="icon"><span class="mif-refresh"></span></span></a></li>
      </ul>
      <div class="buttongroup">
        <button class="button bg-noir fg-white ml-auto mr-2" routerLink="/s/detail-client/{{customer.id}}/facture/{{customer.id}}">Factures</button>
        <button class="button bg-noir fg-white mr-1" routerLink="/s/detail-client/{{customer.id}}/encaissement/{{customer.id}}">Encaissements</button>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mt-2">
      <div class="cell-4">
        <div class="icon-box border bd-or">
          <div class="content p-4">
            <div class="text-upper">{{customer.name}}</div>
            <div>{{customer.sale_network}}</div>
          </div>
        </div>
      </div>
      <div class="cell-4" *ngIf="dette>0">
        <div class="icon-box border bd-default">
          <div class="icon bg-red fg-black"><span class="mif-dollars"></span></div>
          <div class="content p-4">
            <div class="text-upper fg-red text-bold">{{dette | priceFormat}} FCFA</div>
            <div class="text-upper text-bold text-lead">Dette client au 01/01/2019</div>
          </div>
        </div>
      </div>

      <div class="cell-4" *ngIf="dette<1">
        <div class="icon-box border bd-default">
          <div class="icon bg-or fg-black"><span class="mif-dollars"></span></div>
          <div class="content p-4">
            <div class="text-upper fg-or text-bold">{{dette | priceFormat}} FCFA</div>
            <div class="text-upper text-bold text-lead">Aucune dette</div>
          </div>
        </div>
      </div>

      <div class="cell-4">
        <div class="icon-box border bd-default">
          <div class="icon bg-gris fg-noir"><span class="mif-file-pdf"></span></div>
          <div class="content p-4">
            <div class="text-upper">{{customer.echue | priceFormat}} Factures echues</div>
            <div class="text-upper">{{customer.bills-customer.echue | priceFormat}} Factures non echues</div>
            <div class="text-upper">{{customer.remain | priceFormat}} Factures d'avoir</div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="pt-0 mt-0">

      </div>
      <div class="cell-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
