<div *ngxPermissionsOnly="['consult.role']">
  <div class="row border-bottom bd-lightGray m-3 mr-0" style="margin-top:52px !important;">
    <div class="cell-md-4 d-flex flex-align-center">
      <h3 class="dashboard-section-title  text-center text-left-md w-100">Rôles</h3>
    </div>

    <div class="cell-md-8 d-flex flex-justify-center flex-justify-end-md flex-align-center">
      <ul class="breadcrumbs bg-transparent">
        <li class="page-item"><a (click)="refresh()" class="page-link">Actualiser <span class="icon"><span class="mif-refresh"></span></span></a></li>
      </ul>
    </div>
  </div>

  <div class="m-3">
    <div class="row mt-2">
      <div class="cell-4">
        <input type="text" [(ngModel)]="searchR" [ngModelOptions]="{standalone: true}" placeholder="Recherche">
      </div>

      <button *ngxPermissionsOnly="['edit.role']" class="button ml-auto mr-2" (click)="openNewRole()">Ajouter</button>
    </div>

    <table class="table cell-border compact table-border"
    >
      <thead>
      <tr>
        <th data-sortable="true">Code</th>
        <th data-sortable="true">Nom</th>
        <th data-sortable="true">Description</th>
        <th data-sortable="true">Permissions</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of roles | filter:{ id: searchR, name: searchR, seller: searchR, status: searchR } : false" [ngClass]="{'dark':i.check==true}">
        <td>{{i.name}}</td>
        <td>{{i.display_name}}</td>
        <td>{{i.description}}</td>
        <td>
          <span *ngFor="let p of i.permissions">{{p.display_name}}, </span>
        </td>
        <td *ngIf="i.name != 'comrec.user'">
          <button *ngxPermissionsOnly="['edit.role']" class="button mini" (click)="openEdit(i)"><span class="mif-pencil"></span></button>
          <button *ngxPermissionsOnly="['delete.role']" class="button mini" (click)="delete(i)"><span class="mif-bin"></span></button>
        </td>
        <td *ngIf="i.name == 'comrec.user'">

        </td>
      </tr>

      </tbody>
    </table>
  </div>

  <div class="dialog" data-role="dialog" id="roleDialog1">
    <div class="dialog-title">
      Details
    </div>
    <div class="dialog-content" >
      <table class="table cell-border compact table-border" *ngIf="!edit_state">
        <thead>
        <tr>
          <th data-sortable="true">id</th>
          <th data-sortable="true" data-name="client">Nom</th>
          <th data-sortable="true" data-name="client">Code</th>
          <th data-sortable="true" data-name="client">Description</th>
          <th data-sortable="true" data-name="client">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{role.id}}</td>
          <td>{{role.display_name}}</td>
          <td>{{role.name}}</td>
          <td>{{role.description}}</td>
          <td>
            <button *ngIf="!edit_state" class="button mini" (click)="edit_state=true"><span class="mif-pencil"></span></button>
            <button *ngxPermissionsOnly="['delete.role']" class="button mini" (click)="delete(role)"><span class="mif-bin"></span></button>
          </td>
        </tr>

        </tbody>
      </table>

      <form action="" *ngIf="edit_state">
        <div class="form-group">
          <label>Nom</label>
          <input type="text" [(ngModel)]="role.display_name" [ngModelOptions]="{standalone: true}" placeholder="Nom"/>
        </div>
        <div class="form-group">
          <label>Code</label>
          <input type="text" [(ngModel)]="role.name" [ngModelOptions]="{standalone: true}" placeholder="Code"/>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" [(ngModel)]="role.description" [ngModelOptions]="{standalone: true}" placeholder="Description"/>
        </div>
        <button class="button bg-gris" (click)="edit_state=false">Annuler</button>
      </form>

      <div class="form-group" *ngxPermissionsOnly="['edit.role']">
        <h5>Permissions</h5>
        <div style="max-height: 150px; overflow-y: scroll">
          <table class="table cell-border compact table-border"
          >
            <thead>
            <tr>
              <th data-sortable="true">Nom</th>
              <th data-sortable="true" data-name="client">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of permissions">
              <td>{{item.display_name}}</td>
              <td>
                <button class="button mini bg-noir fg-white" (click)="setPermission(item)" *ngIf="!item.check">Ajouter</button>
                <button class="button mini" (click)="setPermission(item)" *ngIf="item.check">Supprimer</button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="dialog-actions text-right">
      <button class="button js-dialog-close bg-or fg-white" *ngxPermissionsOnly="['manage.admin']" (click)="updatePermission()">Enregistrer</button>
      <button class="button primary js-dialog-close bg-noir">Fermer</button>
    </div>
  </div>

  <div class="dialog" data-role="dialog" id="newRoleDialog1">
    <div class="dialog-title">
      Nouveau rôle
    </div>
    <div class="dialog-content" >
      <div class="form-group">
        <label>Nom</label>
        <input type="text" [(ngModel)]="new.display_name" placeholder="Nom"/>
      </div>
      <div class="form-group">
        <label>Code</label>
        <input type="text" [(ngModel)]="new.name" placeholder="Code"/>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea data-role="textarea" [(ngModel)]="new.description" placeholder="Description"></textarea>
      </div>
      <div class="form-group" *ngxPermissionsOnly="['edit.role']">
        <h5>Permissions</h5>
        <div style="max-height: 150px; overflow-y: scroll">
          <table class="table cell-border compact table-border"
          >
            <thead>
            <tr>
              <th data-sortable="true">Nom</th>
              <th data-sortable="true" data-name="client">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of new.permissions">
              <td>{{item.display_name}}</td>
              <td>
                <button class="button mini bg-noir fg-white" (click)="item.check=true" *ngIf="!item.check">Ajouter</button>
                <button class="button mini" (click)="item.check=false" *ngIf="item.check">Supprimer</button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="dialog-actions text-right">
      <button class="button js-dialog-close bg-or fg-white" *ngxPermissionsOnly="['edit.role']" (click)="newRole()">Enregistrer</button>
      <button class="button primary js-dialog-close bg-noir">Fermer</button>
    </div>
  </div>

</div>
