<div class="row border-bottom bd-lightGray m-3" style="margin-top:52px !important;">
  <div class="cell-md-4 d-flex flex-align-center">
    <h3 class="dashboard-section-title  text-center text-left-md w-100">Dashboard <small>du {{today}}</small></h3>
  </div>

  <div class="cell-md-8 d-flex flex-justify-center flex-justify-end-md flex-align-center">

    <div class="buttongroup">
      <button class="button link"> <a (click)="period()" class="page-link">Période <span class="icon"><span class="mif-calendar"></span></span></a></button>
      <button class="button link"> <a (click)="init()" class="page-link">Actualiser <span class="icon"><span class="mif-refresh"></span></span></a></button>
    </div>
  </div>
</div>

<div class="m-3">
  <div class="row mt-2">
    <div class="cell-lg-4 cell-sm-6 mt-2">
      <div class="icon-box border bd-cyan">
        <div class="icon bg-cyan fg-white"><span class="mif-user"></span></div>
        <div class="content p-4">
          <div class="text-upper">Vendeurs</div>
          <div class="text-upper text-bold text-lead">{{users_count}}</div>
        </div>
      </div>
    </div>
    <div class="cell-lg-4 cell-sm-6 mt-2">
      <div class="icon-box border bd-red">
        <div class="icon bg-red fg-white"><span class="mif-user-secret"></span></div>
        <div class="content p-4">
          <div class="text-upper">Clients</div>
          <div class="text-upper text-bold text-lead">{{customers_count}}</div>
        </div>
      </div>
    </div>
    <div class="cell-lg-4 cell-sm-6 mt-2">
      <div class="icon-box border bd-green">
        <div class="icon bg-green fg-white"><span class="mif-money"></span></div>
        <div class="content p-4">
          <div class="text-upper">Encaissements</div>
          <div class="text-upper text-bold text-lead">{{receipts_count}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="cell-lg-6 cell-md-6 mt-2">
      <div class="more-info-box bg-cyan fg-white">
        <div class="content">
          <h2 class="text-bold mb-0">{{best_seller}}</h2>
          <div>Meilleur recouvreur</div>
        </div>
        <div class="icon">
          <span class="mif-star-full"></span>
        </div>
      </div>
    </div>
    <div class="cell-lg-6 cell-md-6 mt-2">
      <div class="more-info-box bg-green fg-white">
        <div class="content">
          <h2 class="text-bold mb-0">{{sum_receipt}} FCFA</h2>
          <div>Recouvré</div>
        </div>
        <div class="icon">
          <span class="mif-money"></span>
        </div>
      </div>
    </div>
  </div>

  <div data-role="panel" data-title-caption="Recouvrement du mois" data-collapsible="true"
       data-title-icon="<span class='mif-chart-line'></span>" class="mt-4">
    <div class="row">
      <div class="cell-1 text-right">
        Du
      </div>
      <div class="cell-2">
        <input type="text" data-role="calendarpicker" data-locale="fr-FR">
      </div>
      <div class="cell-1 text-right">
        Au
      </div>
      <div class="cell-2">
        <input type="text" data-role="calendarpicker" data-locale="fr-FR">
      </div>
    </div>
    <div class="row">
      <div class="cell-md-8 p-10">
        <h5 class="text-center">Recouvrement du mois de {{month}}</h5>
        <canvas id="dashboardChart1"
                baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [chartType]="barChartType"></canvas>
      </div>
      <div class="cell-md-4 p-10">
        <h5 class="text-center">Goal Completion</h5>
        <div class="mt-6">
          <div class="clear">
            <div class="place-left">Janvier 2020</div>
            <div class="place-right"><strong>10 023 000 </strong>FCFA</div>
          </div>
        </div>
        <div class="mt-6">
          <div class="clear">
            <div class="place-left">Decembre 2019</div>
            <div class="place-right"><strong>43 231 000 </strong>FCFA</div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
