<div class="row border-bottom bd-lightGray m-3" style="margin-top:52px !important;">
  <div class="cell-md-4 d-flex flex-align-center">
    <h3 class="dashboard-section-title  text-center text-left-md w-100">Dashboard <small>du 22 février 2020</small></h3>
  </div>

  <div class="cell-md-8 d-flex flex-justify-center flex-justify-end-md flex-align-center">
    <ul class="breadcrumbs bg-transparent">
      <li class="page-item"><a href="#" class="page-link">Actualiser <span class="icon"><span class="mif-refresh"></span></span></a></li>
    </ul>
  </div>
</div>

<div class="m-3">
  <div class="row mt-2">
    <div class="cell-lg-4 cell-sm-6 mt-2">
      <div class="icon-box border bd-cyan">
        <div class="icon bg-cyan fg-white"><span class="mif-user-users"></span></div>
        <div class="content p-4">
          <div class="text-upper">Vendeurs</div>
          <div class="text-upper text-bold text-lead">40</div>
        </div>
      </div>
    </div>
    <div class="cell-lg-4 cell-sm-6 mt-2">
      <div class="icon-box border bd-red">
        <div class="icon bg-red fg-white"><span class="mif-user-secret"></span></div>
        <div class="content p-4">
          <div class="text-upper">Clients</div>
          <div class="text-upper text-bold text-lead">410</div>
        </div>
      </div>
    </div>
    <div class="cell-lg-4 cell-sm-6 mt-2">
      <div class="icon-box border bd-green">
        <div class="icon bg-green fg-white"><span class="mif-money"></span></div>
        <div class="content p-4">
          <div class="text-upper">Encaissements</div>
          <div class="text-upper text-bold text-lead">1024</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="cell-lg-4 cell-md-6 mt-2">
      <div class="more-info-box bg-cyan fg-white">
        <div class="content">
          <h2 class="text-bold mb-0">John DOE</h2>
          <div>Meilleur recouvreur</div>
        </div>
        <div class="icon">
          <span class="mif-star-full"></span>
        </div>
        <a href="#" class="more"> More info <span class="mif-arrow-right"></span></a>
      </div>
    </div>
    <div class="cell-lg-4 cell-md-6 mt-2">
      <div class="more-info-box bg-green fg-white">
        <div class="content">
          <h2 class="text-bold mb-0">14 000 000 FCFA</h2>
          <div>Recouvré</div>
        </div>
        <div class="icon">
          <span class="mif-money"></span>
        </div>
        <a href="#" class="more"> More info <span class="mif-arrow-right"></span></a>
      </div>
    </div>
    <div class="cell-lg-4 cell-md-6 mt-2">
      <div class="more-info-box bg-orange fg-white">
        <div class="content">
          <h2 class="text-bold mb-0">44 000 000 FCFA</h2>
          <div>A recouvré</div>
        </div>
        <div class="icon">
          <span class="mif-money"></span>
        </div>
        <a href="#" class="more"> More info <span class="mif-arrow-right"></span></a>
      </div>
    </div>
  </div>

  <div data-role="panel" data-title-caption="Recouvrement du mois" data-collapsible="true"
       data-title-icon="<span class='mif-chart-line'></span>" class="mt-4">
    <div class="row">
      <div class="cell-md-8 p-10">
        <h5 class="text-center">Sales: 1 Jan, 2014 - 30 Jul, 2014</h5>
        <canvas id="dashboardChart1"></canvas>
      </div>
      <div class="cell-md-4 p-10">
        <h5 class="text-center">Goal Completion</h5>
        <div class="mt-6">
          <div class="clear">
            <div class="place-left">Janvier 2020</div>
            <div class="place-right"><strong>10 023 000 </strong>FCFA</div>
          </div>
        </div>
        <div class="mt-6">
          <div class="clear">
            <div class="place-left">Decembre 2019</div>
            <div class="place-right"><strong>43 231 000 </strong>FCFA</div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
